Tiden {{ time }} {{ goal_context }} {{team}} ledningen med {{ score }} genom {{ scorer.jerseyNo }} {{ scorer.name }}, {% if assists|length == 1 %}assisterad av {{ assists[0].jerseyNo }} {{ assists[0].name }}.{% elif assists|length == 2 %}assisterad av {{ assists[0].jerseyNo }} {{ assists[0].name }} och {{ assists[1].jerseyNo }} {{ assists[1].name }}.{% elif assists|length > 2 %}assisterad av {% for assist in assists[:-1] %}{{ assist.jerseyNo }} {{ assist.name }}, {% endfor %}och {{ assists[-1].jerseyNo }} {{ assists[-1].name }}.{% else %}Utan assist.{% endif %} 