GOAL! {{ team }} scores! {{ scorer }} finds the back of the net {{ time }}{% if strength %} {{ strength }}{% endif %}{% if goal_context %} and {{ goal_context }}{% endif %}. {% if assists|length == 1 %}Assisted by {{ assists[0].name }}.{% elif assists|length == 2 %}Assisted by {{ assists[0].name }} and {{ assists[1].name }}.{% elif assists|length > 2 %}Assisted by {% for assist in assists[:-1] %}{{ assist.name }}, {% endfor %}and {{ assists[-1].name }}.{% else %}Unassisted.{% endif %} The score is now {{ score }}.