{% set away_players_by_line = {} %}
{% for player in game.roster.away.players %}
    {% set _ = away_players_by_line.setdefault(player.line|string, []) %}
    {% set _ = away_players_by_line[player.line|string].append(player) %}
{% endfor %}
{{ game.teams.away.name }} ställer upp med följande lag:
{% for line_num, players in away_players_by_line.items()|sort %}
	{% for player in players %}
{{ player.jerseyNo }} {{ player.name }}
	{% endfor %}
{% endfor %}

{% for coach in game.personnel.coaches.away %}
{% if coach.type == "HC" %}
Head coach är {{ coach.name }}
{% endif %}
{% if coach.type == "AC" %}
Assistant coach är {{ coach.name }}
{% endif %}
{% endfor %}

{% set home_players_by_line = {} %}
{% for player in game.roster.home.players %}
    {% set _ = home_players_by_line.setdefault(player.line|string, []) %}
    {% set _ = home_players_by_line[player.line|string].append(player) %}
{% endfor %}
{{ game.teams.home.name }} ställer upp med följande lag:
{% for line_num, players in home_players_by_line.items()|sort %}
	{% for player in players %}
{{ player.jerseyNo }} {{ player.name }}
	{% endfor %}
{% endfor %}

{% for coach in game.personnel.coaches.home %}
{% if coach.type == "HC" %}
Head coach är {{ coach.name }}
{% endif %}
{% if coach.type == "AC" %}
Assistant coach är {{ coach.name }}
{% endif %}
{% endfor %}

{% set linesmen = [] %}
{% for coach in game.personnel.officials %}
    {% if coach.type == "Domare" %}
Matchens domare är {{ coach.name }}
    {% endif %}
    {% if coach.type == "Linjemän" %}
        {% set _ = linesmen.append(coach.name) %}
    {% endif %}
{% endfor %}
{% if linesmen %}
Linjemän är {{ linesmen | join(' och ') }}
{% endif %}
